.git
.claude
storage/clients.json
storage/users.json
storage/project-index.json
storage/projects
V1
V2
V3 - Opcion web sencilla, sin nada mas
V4 - Revision final - web sencilla
V5 - primer dashboard
V6 - Con admin
V7 - Primer trabajo - colomer
V8 - BBDD
